{% block header %}
<header>
    <nav class="navbar navbar-expand-lg text-light bg-dark mb-3 shadow sticky-top"
         data-bs-theme="dark">
        <div class="container-fluid">
            {% if user.is_authenticated %}
            <h1><a class="navbar-brand fw-bold"
                   href="{% url 'workorder_list' %}">ProdPause</a>
            </h1>
            {% else %}
            <h1><a class="navbar-brand fw-bold"
                   href="{% url 'home' %}">ProdPause</a></h1>
            {% endif %}
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end"
                 id="navbarNav">
                <ul class="navbar-nav nav-underline align-items-center">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        Hello, {{ user.username }}!
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'workorder_list' %}">Workorders</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input class="nav-link" type="submit"
                                   value="Log Out">
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'login' %}">Log
                            In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock header %}
