{% extends "base.html" %}


{% block content %}
<div class="col-lg-4 col-10 container bg-danger-subtle rounded p-3">
    <p class="fw-bold">Please Note:</p>
    <p>This is a prototype application with minimal functionality to demonstrate
        a proof of concept before building a full-featured version. More
        advanced functionality is hidden in the <a class="link-dark"
                                                   href="admin/">Admin Page</a>
        of the Django framework.</p>
</div>


{% endblock content %}